body, h1, h2, ul{
    margin: 0;
    padding: 0;
}


.header{
    height: 10vh;
    background-color: #1f2937;
    color: #F9FAf8;
    font-weight: bold;
    display: flex;
    align-items: center;
    
}

.header > *{
    flex:1;
    justify-content: center;
}

.logo {
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.header > ul{
    color: #E5E7Eb;
    font-size: 18px;
    list-style:none;
    display: flex;
    gap:40px;

}


/*------------------- SECTIONS GENERAL------------------------*/


.section{
    height:60vh;
}


/*------------------- SECTION 1------------------------*/
.sone{
    background-color: #1f2937;
    color: #F9FAf8;
    padding-left:200px;
    display: flex;
    align-items: center;
}

.sone>*{
    flex:1;
}

.sone-left{
    padding-right: 150px;
}

.sone-left > h1{
    font-size: 48px;
    font-weight: extra-bold;

}

.sone-right>img{

    width: 35vw;
    height: 30vh;
    max-width:509px ;

}

.sone-left>button{

    background-color: #3882f6;
    color:#E5E7Eb;
    font-size: 18px;
    font-weight: bold;
    width: 125px;
    height: 35px;
    border-radius: 6px;
    border: none;

}


/*------------------- SECTION 2------------------------*/
.stwo{  
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    padding-top: 75px;
    padding-left: 300px;
    padding-right: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.stwo-content{
    display:flex;
    gap:100px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.squarePic{
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.card>p{
    font-size: 18px;
    text-align: center;
    color: #464747;
    width: 150px;
}



/*------------------- SECTION 3------------------------*/
.sthree{
    background-color: #E5E7Eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sthreeContent{
    max-width: 1000px;  
}

cite{
    padding:0;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.sthreeContent>p{
    font-size: 24px;
    padding-right: 60px;
    margin:0;
    display: flex;
    justify-content: flex-end;
}

/*------------------- SECTION 4------------------------*/
.sfour{
    height: 45vh;

}

/*------------------- FOOTER ------------------------*/
.footer{
    background-color: #1f2937;
    height: 10vh;

}